<mat-toolbar color="primary" class="navbar">
  <span class="logo" [routerLink]="homeRoute">Clinica Braluanit</span>
  <span class="spacer"></span>

  <!-- Paciente -->
  <ng-container *ngIf="isPaciente">
    <button mat-button (click)="logout()">Cerrar Sesión</button>
  </ng-container>

  <!-- Especialista -->
  <ng-container *ngIf="isEspecialista">
    <button mat-button (click)="logout()">Cerrar Sesión</button>
  </ng-container>

  <!-- Admin -->
  <ng-container *ngIf="isAdmin">
    <button mat-button routerLink="/admin/usuarios">Usuarios</button>
    <button mat-button (click)="logout()">Cerrar Sesión</button>
  </ng-container>

  <button mat-button (click)="toggleTheme()">
    {{ darkMode ? '☀️ Modo Claro' : '🌙 Modo Oscuro' }}
  </button>

</mat-toolbar>